@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

sub,
sup,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

img {
  vertical-align: middle;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin-inline: auto;
  padding-inline: 15px;
}

.rowWrap {
  display: flex;
}
@media (max-width: 767px) {
  .rowWrap {
    flex-direction: column;
  }
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: system-ui, -apple-system, "PingFang TC", "Segoe UI", "Microsoft JhengHei", "微軟正黑體", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (max-width: 767px) {
  .dpnone-mb {
    display: none;
  }
}

.dpnone-desk {
  display: none;
}
@media (max-width: 767px) {
  .dpnone-desk {
    display: initial;
  }
}

.imgBox {
  display: block;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgBox img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.imgBox.hover img {
  transition: transform 0.6s ease-in-out;
}
.imgBox.hover:hover img {
  transform: translate(-5%, -5%) scale(1.1);
  cursor: pointer;
}

a:hover {
  color: #916019;
}

button:hover {
  cursor: pointer;
  color: #916019;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.arrowR:hover::after {
  font-family: "Material Symbols Rounded";
  content: "\e941";
  margin-left: 4px;
  vertical-align: bottom;
  display: inline-block;
}

.soldOut::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
  top: 0;
  left: 0;
}

.soldOut::before {
  content: "Sold out";
  font-size: 24px;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: bold;
}

header {
  padding-block: 9px;
  position: relative;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  display: flex;
  width: 84%;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
  line-height: 1;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  gap: 32px;
}
@media (max-width: 767px) {
  header .desk-menu {
    display: none;
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #707070;
    gap: 0;
    z-index: 1;
  }
  header .desk-menu a {
    color: #FFF;
    justify-content: center;
  }
  header .desk-menu li {
    width: 100%;
    padding-block: 16px;
  }
  header .desk-menu li ~ li {
    border-top: 1px solid #FFF;
  }
  header .desk-menu .login {
    order: 1;
  }
}
header .mb-menu .ham,
header .mb-menu .close {
  font-size: 36px;
  color: #8D8D8D;
  cursor: pointer;
}
header .mb-menu .close {
  display: none;
}
header #hamber {
  display: none;
}
header #hamber:checked ~ .desk-menu {
  display: flex;
}
header #hamber:checked ~ .mb-menu .ham {
  display: none;
}
header #hamber:checked ~ .mb-menu .close {
  display: block;
}
header li a {
  color: #8D8D8D;
  display: flex;
  align-items: center;
  padding-block: 16px;
}
@media (max-width: 767px) {
  header li a {
    padding-block: 0px;
  }
}
header i {
  margin-right: 3px;
  font-size: 20px;
}
header .cart {
  position: relative;
}
@media (max-width: 767px) {
  header .cart i {
    font-size: 24px;
  }
  header .cart span:not(.dpnone-mb) {
    position: absolute;
    display: block;
    border-radius: 10px;
    background-color: #916019;
    color: #FFF;
    font-size: 10px;
    top: -4px;
    right: -4px;
    padding: 2px 6px;
  }
}
header .dpnone-desk:hover i {
  color: #916019;
}

.logo.imgBox {
  max-width: 128px;
  width: auto;
  display: block;
}

footer {
  background-color: #916019;
  padding-block: 20px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container > div {
  display: flex;
  align-items: center;
  gap: 23px;
  color: #FFF;
  font-size: 14px;
}
footer .container ul {
  display: flex;
  gap: 36px;
}
footer .container ul a {
  color: #FFF;
  font-size: 20px;
}
footer .container ul a:hover {
  text-decoration: underline;
}

.kvBanner {
  background-image: url("https://images.unsplash.com/photo-1588159343745-445ae0b16383?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80");
  background-size: cover;
  background-position: center;
}
.kvBanner .container {
  display: flex;
  justify-content: flex-end;
  padding-block: 295px;
}
.kvBanner .textBox {
  max-width: 445px;
  color: #FFF;
}
.kvBanner h1 {
  font-size: 40px;
  font-weight: bold;
}
.kvBanner p {
  font-size: 24px;
  font-weight: 300;
}
@media (max-width: 767px) {
  .kvBanner .container {
    padding-block: 101px 135px;
    justify-content: center;
  }
  .kvBanner h1 {
    font-size: 32px;
  }
  .kvBanner p {
    font-size: 20px;
  }
}

.Btn-white {
  margin-top: 16px;
  border-radius: 50px;
  padding-block: 13px;
  border: 2px solid #FFF;
  background-color: transparent;
  text-align: center;
  width: 350px;
  color: #FFF;
  font-size: 28px;
  line-height: 1;
}
.Btn-white:hover {
  background-color: rgba(255, 255, 255, 0.3019607843);
  color: #FFF;
}
@media (max-width: 767px) {
  .Btn-white {
    width: 100%;
  }
}

.hotTopic {
  margin-top: 60px;
}
@media (max-width: 767px) {
  .hotTopic {
    margin-top: 8px;
  }
}
.hotTopic .rowWrap {
  align-items: stretch;
  row-gap: 8px;
}
@media (max-width: 767px) {
  .hotTopic .rowWrap {
    margin-top: 32px;
  }
}
.hotTopic .textArea,
.hotTopic .picArea {
  width: 50%;
  overflow: hidden;
}
@media (max-width: 767px) {
  .hotTopic .textArea,
  .hotTopic .picArea {
    width: 100%;
  }
}
.hotTopic .textArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 555px;
  align-items: center;
  padding-inline: 16px;
}
.hotTopic .textArea:last-of-type {
  height: initial;
  padding-block: 92px;
}
@media (max-width: 767px) {
  .hotTopic .textArea {
    padding-inline: 0;
    padding-block: 0;
    height: initial;
    align-items: flex-start;
  }
  .hotTopic .textArea:last-of-type {
    padding-block: 8px;
  }
}
.hotTopic .textArea .textBox {
  max-width: 350px;
}
@media (max-width: 767px) {
  .hotTopic .textArea .textBox {
    max-width: 100%;
  }
}
.hotTopic h2 {
  font-size: 32px;
  font-weight: bold;
}
.hotTopic p {
  font-size: 20px;
}
.hotTopic .textArea a {
  color: #916019;
  margin-top: 16px;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
}
@media (max-width: 767px) {
  .hotTopic .textArea a {
    margin-top: 8px;
  }
}
.hotTopic ol {
  list-style-type: decimal;
  list-style-position: inside;
}
.hotTopic ol li ~ li {
  margin-top: 52px;
}
.hotTopic ol li::marker,
.hotTopic ol h3 {
  font-size: 24px;
  font-weight: bold;
}
.hotTopic ol p {
  margin-top: 4px;
  font-size: 16px;
}
.hotTopic ol ~ button {
  border: 2px solid #000000;
  border-radius: 50px;
  font-size: 20px;
  text-align: center;
  padding-block: 18px;
  width: 100%;
  line-height: 1;
  margin-top: 60px;
}
@media (max-width: 767px) {
  .hotTopic ol ~ button {
    margin-top: 20px;
  }
}
.hotTopic ol ~ button:hover {
  background-color: rgba(0, 0, 0, 0.0509803922);
  color: #000000;
}
.hotTopic .picArea:hover .imgBox {
  transform: scale(1.05) translate(-1%, -1%);
}
@media (max-width: 767px) {
  .hotTopic .picArea {
    order: -1;
  }
}
.hotTopic .imgBox {
  height: 100%;
  background-position: 50% 20%;
  background-size: cover;
  transition: transform 0.4s ease-in-out;
}
@media (max-width: 767px) {
  .hotTopic .imgBox {
    height: 350px;
  }
}
@media (max-width: 767px) {
  .hotTopic .rowWrap:last-of-type .imgBox {
    height: 680px;
  }
}

.hotProduct {
  margin-top: 60px;
  padding-block: 40px;
  background-color: #E0E0E0;
}
@media (max-width: 767px) {
  .hotProduct {
    margin-top: 40px;
    padding-block: 32px;
  }
}
.hotProduct .rowWrap {
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 32px;
}
.hotProduct li {
  width: calc((100% - 60px) / 3);
}
@media (max-width: 767px) {
  .hotProduct li {
    width: 100%;
  }
}
.hotProduct .imgBox {
  height: 540px;
}
@media (max-width: 767px) {
  .hotProduct .imgBox {
    height: 350px;
  }
}
.hotProduct .imgBox img {
  height: 100%;
  width: auto;
}
@media (max-width: 767px) {
  .hotProduct .imgBox img {
    height: auto;
    width: 100%;
  }
}
.hotProduct h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}
.hotProduct h4:hover {
  color: #916019;
}
.hotProduct p {
  font-weight: 300;
}
.hotProduct .price {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}
@media (max-width: 767px) {
  .hotProduct .price {
    margin-top: 4px;
  }
}
.hotProduct .orgPrice {
  color: #8D8D8D;
  text-decoration: line-through;
}

.homeArticle {
  padding-block: 60px;
}
@media (max-width: 767px) {
  .homeArticle {
    padding-block: 40px;
  }
}
.homeArticle .imgBox {
  width: 65%;
}
.homeArticle .textArea {
  width: 35%;
  padding-inline: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeArticle .textBox {
  max-width: 350px;
}
@media (max-width: 767px) {
  .homeArticle .imgBox,
  .homeArticle .textArea {
    width: 100%;
  }
  .homeArticle .imgBox {
    height: 520px;
  }
  .homeArticle .imgBox img {
    height: 100%;
    width: auto;
  }
  .homeArticle .textArea {
    padding-inline: 0px;
  }
  .homeArticle .textBox {
    max-width: 100%;
  }
}
.homeArticle h2 {
  font-size: 32px;
  font-weight: bold;
  color: #000000;
}
.homeArticle h2:hover {
  color: #916019;
}
.homeArticle h3 {
  font-size: 20px;
  font-weight: 300;
}
.homeArticle p {
  margin-block: 16px;
  font-weight: 300;
}
.homeArticle a {
  color: #916019;
}
@media (max-width: 767px) {
  .homeArticle p {
    margin-block: 8px;
  }
  .homeArticle h2 {
    margin-top: 8px;
  }
}

.contact {
  background-image: url("https://images.unsplash.com/photo-1532413992378-f169ac26fff0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80");
  background-position: center left;
  background-size: cover;
  padding-block: 312px 112px;
}
.contact .textBox {
  max-width: 350px;
}
@media (max-width: 767px) {
  .contact .textBox {
    max-width: 100%;
  }
}
.contact h3 {
  font-size: 32px;
  color: #8D8D8D;
  font-weight: bold;
  margin-bottom: 20px;
}
.contact .submit {
  border: 2px solid #916019;
  border-radius: 4px;
  display: flex;
}
.contact input {
  padding-block: 20px;
  padding-left: 16px;
  width: 63%;
  border: none;
  font-size: 16px;
}
.contact input:focus, .contact input:focus-visible {
  border: none;
  outline: none;
}
.contact button {
  background-color: #916019;
  color: #FFF;
  text-align: center;
  width: 38%;
}

.productFilter {
  background-color: #916019;
}
.productFilter ul {
  display: flex;
}
.productFilter li button {
  padding: 14px;
  cursor: pointer;
  color: #FFF;
  font-size: 20px;
  display: block;
  width: 100%;
  height: 100%;
}
.productFilter li button:hover {
  background-color: #FFF;
  color: #916019;
}
@media (max-width: 767px) {
  .productFilter {
    display: none;
  }
}

.product-list {
  padding-block: 80px 60px;
}
@media (max-width: 767px) {
  .product-list {
    padding-block: 42px 40px;
  }
}

.main-list {
  display: flex;
  flex-wrap: wrap;
  gap: 58px 30px;
}
@media (max-width: 767px) {
  .main-list {
    gap: 30px 15px;
  }
}
.main-list .card {
  width: calc((100% - 90px) / 4);
}
@media (max-width: 767px) {
  .main-list .card {
    width: calc((100% - 15px) / 2);
  }
}
.main-list .card .imgBox {
  width: 100%;
  height: min(255px, 25vw);
  background-color: #000000;
}
@media (max-width: 767px) {
  .main-list .card .imgBox {
    height: calc((100vw - 15px) / 2);
  }
}
.main-list .card a h3 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.main-list .card a h3:hover {
  color: #916019;
}
.main-list .card .price {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.main-list .card .orgPirce {
  text-decoration: line-through;
  color: #8D8D8D;
}
.main-list .card .action {
  display: flex;
  align-items: center;
  gap: 11px;
}
.main-list .card .action button {
  color: #916019;
}
.main-list .card .action button:hover {
  transform: translateY(-1.5px);
  transition: all 0.3s;
}

.pageNav {
  margin-top: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .pageNav {
    margin-top: 46px;
  }
}
.pageNav a {
  cursor: pointer;
  font-size: 20px;
}
.pageNav a.active {
  color: #916019;
  text-decoration: underline;
}